/* Header */

.header nav h1 {
  float: none;
  text-align: center;
}

.header nav ul,
.header nav ul li {
  float: none;
}

.header nav ul li a {
  padding: 10px;
  text-align: center;
}

.vp-content {
  padding-top: 50px;
}

.vp-content h1 {
  font-size: 2rem;
}

.feature {
  float: none;
  width: 100%;
  margin-bottom: 2rem;
}

.where {
  padding: 80px 20px 50px 20px;
}

.where-img {
  float: none;
  width: 80%;
  border: 0;
  display: block;
  margin: auto;
  margin-bottom: 3rem;
}

.where-text {
  float: none;
  width: 100%;
}

.contact {
  padding: 50px 0;
}
